:root {
  /* Pokemon Card */

  /* Animation and Hover Effects */
  --duration-fast: 0.1s;
  --duration-medium: 0.3s;
  --duration-slow: 1.3s;

  /* Card z-index */
  --pokemon-card-upper-layer: 3;
  --pokemon-card-lower-layer: 1;
  --stat-padding: 3px;
  --stat-margin: 3px;
}
