@import './pokemonCard.css';
@import './gameGrid.css';
@import './layout.css';
@import './typography.css';

:root {
  /* Colors */
  --color-red: #f00;
  --color-dark-red: #c00;
  --color-blue: #3b3caa;
  --color-yellow: #ffde00;
  --color-dark-yellow: #b3a125;
  --color-white: #fff;
  --color-light-gray: #6f6f6f;
  --color-dark-gray: #282828;
  --color-black: #000;

  /* Transparency */
  --color-transparent-gray-light: rgb(0 0 0 / 30%);
  --color-transparent-gray-medium: rgb(0 0 0 / 50%);
  --color-transparent-gray-heavy: rgb(0 0 0 / 70%);

  /* Box Shadow */
  /* stylelint-disable-next-line */
  --box-shadow: rgba(149, 157, 165, 20%) 0 8px 24px;
  --box-shadow-bar: rgba(33, 35, 38, 10%) 0 10px 10px -10px;

  /* Z-index */
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}
