.navBar {
  border: 1px solid rebeccapurple;
  height: var(--navbar-height);
}

.navTitle {
  margin-right: 1em;
}

.mainMenu {
  /* border: 2px solid green; */
}

.mainMenu,
.subMenu {
  display: flex;
}

.navItem {
  display: flex;
  /* border: 1px solid salmon; */
  margin: 0 0.5em;
  min-width: 10px;
}

/*  Hover Effect */
.navItem:hover {
}

.navItem:hover .navItem__label {
}

.subMenu .navItem {
  border-bottom: 1px solid black;
  min-width: 200px;
  padding: 0.5em;
}

.navItem__label {
  margin-left: 0.5em;
}

.subMenu {
  top: var(--navbar-height);
  position: fixed;
  flex-direction: column;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-200px);
}

/* active class for subMenu */
.active {
  transform: translateY(0);
  z-index: 1;
  opacity: 1;
}

/* active class for ellipsis icon */
.selected {
  color: red;
}

.flexWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.relative {
}

.navTitle {
  height: 100%;
}
