.navBar {
  height: var(--navbar-height);

  border: 1px solid rebeccapurple;
}

.navTitle {
  margin-right: 1em;

  height: 100%;
}

.mainMenu {
  /* border: 2px solid green; */
}

.mainMenu,
.subMenu {
  display: flex;
}

.navItem {
  /* border: 1px solid salmon; */
  margin: 0 0.5em;

  display: flex;
  min-width: 10px;
}

/*  Hover Effect */

.subMenu .navItem {
  padding: 0.5em;

  min-width: 200px;

  border-bottom: 1px solid black;
}

.navItem__label {
  margin-left: 0.5em;
}

.subMenu {
  position: fixed;
  top: var(--navbar-height);

  flex-direction: column;

  background-color: #fff;

  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-200px);
}

/* active class for subMenu */
.active {
  z-index: 1;

  opacity: 1;

  transform: translateY(0);
}

/* active class for ellipsis icon */
.selected {
  color: red;
}

.flexWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
