.searchBar {
  padding: 0 1em;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid magenta;
  background-color: salmon;
}

.flex {
  flex: 1;
}
