.contentGrid {
  position: relative;

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr minmax(200px, 300px);
  min-height: inherit;

  background-image: url('https://wallpapercave.com/wp/wp2711152.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  grid-column: 1 / end;

  z-index: 1;
}

.header,
.sideBar {
  position: relative;

  overflow: hidden;
}

.header::before,
.sideBar::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  overflow: hidden;
  width: 110%;
  height: 110%;

  border-radius: 15px;
  background: inherit;
  box-shadow: inset 0 0 0 3000px rgb(255 255 255 / 19.2%);
  filter: blur(10px);

  content: '';
}
