.contentGrid {
  min-height: 100%;
  max-height: var(--game-window-height);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: var(--search-bar-height) 1fr;
}

.header {
  background-color: salmon;
  grid-column: 1 / end;
}

.main {
  background-color: rgb(50, 50, 167);
}

.sideBar {
  background-color: gray;
}

/* Media Querries */
@media (max-width: 599px) {
  .contentGrid {
    grid-template-columns: 1fr;
    grid-template-rows: var(--search-bar-height) 1fr var(
        --sidebar-folded-height
      );
  }

  .header {
    grid-column: 1;
  }
}
