.displayPanel {
  padding: var(--display-panel-padding);

  display: grid;
  overflow: auto;
  justify-content: center;
  grid-template-columns: repeat(
    var(--display-panel-column-quantity),
    var(--display-panel-column-size)
  );
  /* stylelint-disable-line */
  height: var(--display-panel-height);

  border: 5px solid green;
  grid-gap: 1em;
}

/* Phone Only */

/* @media (max-width: 599px) {
  :root {
  }
}

/* Tablet Portrait Mode Up */

/* @media (min-width: 600px) {
  :root {
  }
} */

/*  Table Landscape Up */

/* @media (min-width: 900px) {
  :root {
  }
} */

/* Desktop Up */

/* @media (min-width: 1200px) {
  :root {
  }
} */

/* Big Desktop Up */

/* @media (min-width: 1800px) {
  :root {
  }
} */
