/* Utility */

.pokemonCard {
  position: relative;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  text-transform: capitalize;

  color: var(--color-dark-gray);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--box-shadow);
}

/* Card Body */
.pokemonCard_body {
  min-width: 100%;
}

/*  Card Cover Image Wrapper */
.info_cardCover {
  margin: 0 auto;
  margin-top: auto;

  max-width: 50%;
}

.details {
  margin: 1rem auto;
}

.types {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.type {
  padding: 0.25rem 0.5rem;

  flex: 1;

  text-align: center;

  border-radius: 10px;
}

.title {
  letter-spacing: 2px;
  text-align: center;
}

.label,
.title {
  margin-bottom: 0;

  font-weight: 600;
}

.stats {
  padding: 1rem;
}

.statsWrapper {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statValue {
  margin-right: 0.5rem;
}

.stats__bar {
  height: 6px;

  border-radius: 10px;
  background-color: var(--color-light-gray);
}

.stats__bar__value {
  height: inherit;

  border-radius: 10px;
}

.stats__label,
.stats__bar {
  flex: 1;
}
