.sideBar {
  padding: 2rem;

  display: flex;
  align-items: space-between;
  flex-direction: column;

  text-align: center;

  color: #fff;
}

.title {
  margin-bottom: 1rem;

  letter-spacing: 2px;
}

.proceedBtn {
  z-index: 2;
  margin: 1rem auto;

  visibility: hidden;
  align-self: center;
}

.showBtn {
  visibility: visible;
}
